 /* ----------- general styles -------------- */

body {
  background: white;
  font-family: 'Scada', sans-serif;
}

 /* ----------- header -------------- */

.header {
  color: green;
}

.header p {
  padding-left: 2.5%;
}

.container.top-bar {
  height: 5%;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  font-size: 15px;
}

.container.top-bar h3 {
  margin: 0 auto;
  margin-top: 1%;
  padding-left: 1%;
  display: inline-block;
}

.container.top-bar a {
  color: green;
  float: right;
  text-decoration: none;
  padding-right: 1%;
  padding-top: 2%;
}

.container.top-bar a:hover {
  color: black;
}

 /* ----------- search board -------------- */

.search-board {
  width: 100%;
}

/* globe */

.globe {
  display: inline-block;
  width: 450px;
  height: 450px;
  border: 1px solid black;
}

/* search options */

.search-options {
  width: 60%;
  float: right;
}

.search-options input {
  /*display: inline-block;*/
}

.search-options button {
}

/* chart */

.chart {
  float: right;
}
