 /* ----------- general styles -------------- */

body {
  background: white;
  font-family: 'Scada', sans-serif;
}

 /* ----------- header -------------- */

.header {
  color: green;
}

.header p {
  padding-left: 2.5%;
}

.container.top-bar {
  height: 5%;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  font-size: 15px;
}

.container.top-bar h3 {
  margin: 0 auto;
  margin-top: 1%;
  padding-left: 1%;
  display: inline-block;
}

.container.top-bar a {
  color: green;
  float: right;
  text-decoration: none;
  padding-right: 1.5%;
  padding-left: 1%;
  padding-top: 2%;
  cursor: pointer;
}

.container.top-bar a:hover {
  text-decoration: underline;
}

.fa.fa-github-square.fa-2x:hover {
  color: orange;
}

 /* ----------- search board -------------- */

/* placeholder */

.placeholder img {
  width: 10%;
  float: right;
  margin-right: 33%;
}

.chart-placeholder {
  text-align: center;
}

.chart-placeholder img {
  width: 10%;
  transform: rotate(260deg);
}

/* search */

.query-msg {
  width: 100%;
  display: inline-block;
}

.query-msg small {
  color: green;
  padding-left: 1%;
}

.dropdown {
  max-height: 300px;
  border: 1px solid lightgrey;
  border-radius: 2px 2px 10px 10px;
  position: absolute;
  z-index: 3;
  width: 91%;
  background-color: white;
  margin-top: 10.5%;
  padding-left: 0;
  cursor: pointer;
}

.search-form input {
  font-size: 20px;
}

input:focus {
  outline: none;
}

.dropdown li {
  padding-left: 10px;
  list-style: none;
}

.dropdown li:hover, .hoverLi {
  background-color: rgba(211, 211, 211, 0.4);
}

.countries {
  margin-top: 2em;
}

.countries li {
  list-style-type: none;
}

.first-country {
  width: 30%;
}

.first-country input {
  padding-left: 5%;
}

.options {
  margin-top: 2%;
  text-align: center;
}

.chart-button.btn.btn-success.active {
  background-color: white;
  color: green;
  border: 1px solid green;
  outline: none;
}

.selected-countries ul {
  max-width: 650px;
}

.selected-countries li {
  margin-top: 2px;
  padding: 3px;
  background-color: white;
  color: green;
  display: inline-block;
  margin-right: 2px;
}

.glyphicon.glyphicon-remove {
  padding-left: 5px;
}

.selected-countries li:hover {
  background-color: #F55660;
  color: white;
}


/* chart */

.geo-chart {
  margin-top: 5%;
  margin-bottom: 5%;
}

.chart {
  padding-top: 30px;
  padding-bottom: 4%;
}

.info {
  text-align: center;
  margin-top: 100px;
}

.details {
  margin-left: 1.5%;
}

.missing.details {
  color: #F55660;
  font-size: 16px;
}

/* footer */

.footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100px;
}

.footer a {
  color: green;
}

.footer a:hover {
  color: darkgreen;
}
